<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MrBattery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00414CE11CE2B3AB002B6B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00414CF51CE2B3AB002B6B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00414D001CE2B3AB002B6B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
